<div class="sidebar" [class.closed]="isClosed">
    <div class="logo-container">
        <img [src]="isClosed ? 'app/assets/icone.png' : 'app/assets/logo.png'" alt="Logo"
            class="{{ isClosed ? 'icon' : 'logo' }}">
    </div>


    <button class="toggle-btn" (click)="toggleSidebar()">
        {{ isClosed ? '☰' : '✖' }}
    </button>


    <ul>
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.route">
            {{ item.icon }} 
            <span class="link-text" [class.hidden]="isClosed">{{ item.label }}</span>
          </a>
        </li>
    </ul>
      
</div>

<!-- O conteúdo da página -->
<div class="main-content">
    <router-outlet></router-outlet>
</div>