<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal">
    <button class="close-button" (click)="cancel()">×</button>
    <h3>Editar Livro</h3>

    <form>
      <label>Título:</label>
      <input type="text" [(ngModel)]="editedBook.titulo" name="titulo" />


      <label>Páginas:</label>
      <input type="number" [(ngModel)]="editedBook.paginas" name="paginas" />

      <label>Ano:</label>
      <input type="number" [(ngModel)]="editedBook.ano" name="ano" />

      <label>Gênero:</label>
      <input type="text" [(ngModel)]="editedBook.genero" name="genero" />

      <label>Editora:</label>
      <input type="text" [(ngModel)]="editedBook.editora" name="editora" />

      <label>Status:</label>
      <select [(ngModel)]="editedBook.disponivel" name="disponivel">
        <option [ngValue]="true">Disponível</option>
        <option [ngValue]="false">Emprestado</option>
      </select>
    </form>

    <div class="buttons">
      <button class="btn btn-cancel" (click)="cancel()">Cancelar</button>
      <button class="btn btn-confirm" (click)="saveChanges()">Salvar alterações</button>
    </div>
  </div>
</div>
