<header class="header-catalogo">
  <div class="overlay"></div>
  <div class="header-container">
    <div class="header-content">
      <div class="header-title">
        <div class="icon-box">
        </div>
        <div>
          <h1 class="titulo">Catálogo</h1>
          <p class="subtitulo">Sua livraria sustentável</p>
        </div>
      </div>
      <div class="resultado-box">
        <span class="resultado-text">{{ totalLivros }} livros encontrados</span>
      </div>
    </div>
  </div>
</header>