<div class="body">
  <div class="login-container">
    <form>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Digite seu e-mail cadastrado"
          required
        />
      </div>

      <button type="submit" class="btn-login">Enviar link de recuperação</button>
    </form>

    <p class="support-text">
      Caso não consiga recuperar sua senha, entre em contato com o suporte através do e-mail:  
      <strong>suporteexemplo.com</strong>
    </p>
  </div>
</div>
